body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: grid;
}

div {
  background-color: hsl(0, 0%, 100%);
  width: 11rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  text-align: center;
  margin: auto;
  box-shadow: 0 0.05rem 0.1rem hsl(220, 15%, 55%);
}

img {
  width: 98%;
  border-radius: 0.5rem;
}

h1 {
  font-size: 0.85em;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  padding: 0.35rem;
}

p {
  font-size: 10px;
  color: hsl(220, 15%, 55%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  padding: 0.25rem;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 375px) {
  div {
    background-color: hsl(0, 0%, 100%);
    width: 14rem;
    height: 24rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    text-align: center;
    margin: auto;
    box-shadow: 0 0.05rem 0.1rem hsl(220, 15%, 55%);
  }

  img {
    width: 98%;
    border-radius: 0.5rem;
  }

  h1 {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    padding: 0.35rem;
  }

  p {
    font-size: 0.8rem;
    color: hsl(220, 15%, 55%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    padding: 0.25rem;
  }
}
